:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #f7f7f7;
    --rojo: #E5252E;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}



body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.logo {
    width: 150px;
    margin-bottom: 12px;
    justify-self: center;
    display: none;
}

.title {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}

.subtitle {
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}

.forgot{
    color: var(--rojo);
    text-align: center;
    margin-bottom: 32px;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}

.primary-button {
    background-color: var(--rojo);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.secondary-button {
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid var(--rojo);
    color: var(--rojo);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.login-button {
    
    margin-bottom: 30px;
}

.logo_email {
    width: 80px;
    margin-bottom: 120px;
    display: block;
    margin: 0 auto;
}

.email_circulo {
    width: 120px;
    height: 120px;
    background-color: var(--text-input-field);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px auto;
}

.resend {
    color: var(--rojo);
    cursor: pointer;
}

@media (max-width: 640px) {
    .logo {
        display: block;
    }
}

@media (min-width: 640px) {

  .signup .form-container {
    height: 90vh;
  }

  .signup .form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .signup .login-button {
    margin-top: auto;
  }

}